
body {
    font-family: "Koverwatch";
    padding: 50px;
}

a {
    color: #00b7ff;
}
#hero-grid-template {
    display: none;
}
.hero-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.hero img {
    width: 65px;
    height: 65px;
}
.hero {
    margin: 5px;
    border-radius: 8px;
    overflow: hidden;
    flex: 0 1 auto;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
.hero:hover {
    border: 2px solid lightgreen;
}
.hero.selected {
    border: 2px solid orange;
}
.hero.disabled {
    opacity: 0.3;
    pointer-events: none;
}
.ow-counters {
    padding: 0;
    margin: 0;
    width: 100% !important;
    background-color: cornflowerblue;
}
.role-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    padding: 0 !important;
    justify-content: center;
}
.role-title {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.3;
}
.role-title label {
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.hero-grid-container {
    display: flex;
    height: auto;
}
.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.logo img {
    width: 50%;
}
.role-grid.tank{
  background-color: blueviolet;
  width: 31%;
}
.role-grid.damage{
  background-color: brown;
  width: 38%;
}
.role-grid.support{
  background-color: darkslateblue;
  width: 31%;
}
.hero-grid-container{
  padding: 0!important;
  margin: 0!important;
  height: 100%;
}
@media only screen and (max-width: 768px){
  .role-grid.tank{
    width: 100%;
  }
  .role-grid.damage{
    background-color: brown;
    width: 100%;
  }
  .role-grid.support{
    background-color: darkslateblue;
    width: 100%;
  }
  .hero-grid-container{
    flex-direction: column!important;
  }
  .logo{
    padding: 10px;
  }
}